@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,200;0,600;1,400&display=swap');

#welcome-2{
  font-family: 'Bebas Neue', sans-serif;
  position: relative;
}
.welcome2, #welcome-3, .welcome4,.welcome3{
  font-size: 5vh;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}

.welcome2-1, .welcome4-1{
  text-align: center;
  font-size: x-large;
}

.main-menu-image2, .main-menu-image5{
  
  width: 100%;
  height: 80vh;
  
}

#welcome-3{
  display: flex;
  justify-content: center;
}



.main-menu-image3{
  width: 40vh;
  padding: 1rem;
}

#welcome-4{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.main-menu-image4{
  border-radius: 500px;
  width: 60vh;
}

.welcome4-1{
  font-family: 'Bebas Neue', sans-serif;
  
  
}

.button4{
  width: 15rem;
  height: 4rem;
  font-size: x-large;
  font-family: 'Bebas Neue', sans-serif;
}



.main-menu-image5{
  margin-top: 10rem;
  
}